.weekContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 20px;

    .dayContainer{
        background-color: #b0b0b09e;
        width: 150px;
        height: 200px;
        color: white;
    }

}
